doctype
html(lang=lang)
  head
    if base
      base(href=base)

    title=title
    meta(property="og:title", content="___OG_TITLE___")
    meta(property="og:image:alt", content="___OG_TITLE___")

    if author
      meta(name="author", content=author)
      meta(property="article:author", content=author)

    meta(name="description", content="___DESCRIPTION___")
    meta(property="og:description", content="___DESCRIPTION___")

    if keywords && keywords.length > 1
      meta(name="keywords", content=keywords.join(','))

    link(rel="canonical", href="___URL___")
    meta(property="og:url", content="___URL___")
    meta(property="og:image", content="___IMAGE___")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,height=device-height,initial-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(property="og:type", content="website")
    meta(name="twitter:card", content="summary_large_image")

    block head
      style!= css
  body(class="loading")
    block deck
      != html

    block script

    if watchJs
      script!= watchJs
